:host {
    display: block;
    position: relative;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-container {
    &--crop {
        width: 100%;
    }
}

.image-container__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.image-container__image--crop {
    background-size: cover;
}

.image-container__image--stretch {
    background-size: contain;
}

.image-container__image--original {
    background-size: auto;
}
