<div #imageElement itemscope itemprop="image" itemtype="http://schema.org/ImageObject" class="image-container" [ngClass]="'image-container--' + stretchState" [style.height.px]='canvasHeight' [style.width.px]='canvasWidth'>
    <div class="loading" [hidden]="!loading">
        <ng-template #loadingTplRef
            [ngTemplateOutlet]="loadingTpl"
        ></ng-template>
    </div>
    <div class="loading" [hidden]="!errorOccurred">
        <ng-template #errorTplRef
            [ngTemplateOutlet]="errorTpl"
        ></ng-template>
    </div>
    <div *ngIf="wasInViewport" [hidden]="loading" [ngStyle]="{'background-image': backgroundString}" class="image-container__image" [ngClass]="'image-container__image--' + stretchState">
    </div>
    <ng-content *ngIf="metadata">
        <meta *ngIf="metadata.url" itemprop="url" content="{{ metadata.url }}">
        <meta *ngIf="metadata.name" itemprop="name" content="{{ metadata.name }}">
        <meta *ngIf="metadata.keywords" itemprop="keywords" content="{{ metadata.keywords }}">
     </ng-content>
</div>
